<h1>User Summary For <%= current_user.email %></h1>

<div class="forsplitting">
<h2>Favorites</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   link_to @ripple.name, "#{@ripple.url}"
    <% current_user.favorites.each do |favorite| %>
      <tr>
        <td><%= link_to Restaurant.find_by(id: favorite.restaurant_id).name, restaurant_url(favorite.restaurant)%></td>
        <td><%= Restaurant.find_by(id: favorite.restaurant_id).location %></td>
       
        
      </tr>
    <% end %>
   
  </tbody>
</table>


<h2>Comments</h2>
<table>
  <thead>
    <tr>
      
      <th>Comment</th>
      <th>Restaurant</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
   
    <% current_user.comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td><%= link_to Restaurant.find_by(id: comment.restaurant_id).name, restaurant_url(comment.restaurant) %></td>
        <td><%= Restaurant.find_by(id: comment.restaurant_id).location %></td>
       
        
      </tr>
    <% end %>
   
  </tbody>
</table>

<h2>Votes</h2>
<table>
  <thead>
    <tr>
      
      <th>Vote</th>
      <th>Restaurant</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
    <% current_user.votes.each do |vote| %>
      <tr>
         <% if vote.for_splitting == true %>
         <td>They split!</td>
         <% else %>
        <td>They don't split!</td>
         <% end %>
        <td><%= link_to Restaurant.find_by(id: vote.restaurant_id).name, restaurant_url(vote.restaurant) %></td>
        <td><%= Restaurant.find_by(id: vote.restaurant_id).location %></td>
       
        
      </tr>
    <% end %>
   
  </tbody>
</table>
</div>
