<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :votes_for_splitting %>
    <%= form.number_field :votes_for_splitting %>
  </div>

  <div class="field">
    <%= form.label :votes_against_splitting %>
    <%= form.number_field :votes_against_splitting %>
  </div>

  <div class="field">
    <%= form.label :splitting_average %>
    <%= form.text_field :splitting_average %>
  </div>

  <div class="field">
    <%= form.label :float %>
    <%= form.text_field :float %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
