
<h1>Restaurants</h1>

<p> Search for a restaurant by name and location!</p>
<%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
<%= text_field_tag  :search, params[:search], placeholder: "Search Restaurants" %>
<%= submit_tag "Search" %>
<% end %>

<% if @restaurants.size > 0 %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Votes for splitting</th>
      <th>Votes against splitting</th>
      <th>Splitting average</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.location %></td>
       <td><%= restaurant.votes.get_votes_for_splitting %></td>
        <td><%= restaurant.votes.get_votes_against_splitting%></td>
        <td><%= number_to_percentage(get_average_votes_for_restaurant(restaurant.id), precision: 2)%></td>
        <td><%= link_to 'View and Vote!', restaurant %></td>
       <% if current_user %>
        
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <% end %>
        
      </tr>
    <% end %>
   
  </tbody>
</table>
 
 
 
 <% end %>
<br>


<% if !current_user %>
   <%= link_to "Sign In", new_user_session_path %>
   <%= link_to  "Sign Up", new_user_registration_path %>
<% else %>
   <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
   <%= link_to 'New Restaurant', new_restaurant_path %>
   <%= link_to 'My Summary Page', user_path(current_user) %>
<% end %>
