<p id="notice"><%= notice %></p>

<p style: "text-align: center">
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Splitting average:</strong>
  <%= number_to_percentage(@restaurant.splitting_average, precision: 2) || 0 %>
</p>

<div class="splitting">
<p class="forsplitting">
  <strong>Votes for splitting:</strong>
  <%= @restaurant.votes_for_splitting || 0 %> <br><br>
  <strong>Agree? <br><br><%= link_to 'Vote for Splitting', upvote_path(@restaurant)%> </strong>   
</p>
<p class="againstsplitting">      
  <strong>Votes against splitting:</strong>
  <%= @restaurant.votes_against_splitting || 0 %> <br><br>
  <strong>Agree?<br><br><%= link_to 'Vote against Splitting', downvote_path(@restaurant)%> </strong>
</p>
</div>

<br><br><br>

<%= link_to 'Back', restaurants_path %>





