<p id="notice"><%= notice %></p>

<p style: "text-align: center">
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Splitting average:</strong>
 <%= number_to_percentage(get_average_votes_for_restaurant(@restaurant.id), precision: 2) %>
</p>

<div class="splitting">
<p class="forsplitting">
  <strong>Votes for splitting:</strong>
 <br><br>
  <strong>Agree? <br><br>
  <% if current_user %>
  <%= link_to 'Vote for Splitting', upvote_path(@restaurant)%>  
  <% else %>
  <%= link_to 'Log in to vote!', new_user_session_path %> </strong>
  <% end %>
    
</p>
<p class="againstsplitting">      
  <strong>Votes against splitting:</strong>
 
  <strong>Agree?<br><br>
   <% if current_user %>
     <%= link_to 'Vote against Splitting', downvote_path(@restaurant)%> 
   <% else %>
     <%= link_to 'Log in to vote!', new_user_session_path %>
  </strong>
  <% end %>
</p>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="comment">
<table>
  <thead>
    <tr>
      
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
    <% @restaurant.comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td> 
      </tr>
    <% end %>
   
  </tbody>
</table>
</div>

<%= link_to 'Comment On Restaurant', commenting_path(:restaurant_id => @restaurant) %>

<% if current_user.favorites.where(restaurant_id: params[:id]).size > 0 %>
You have favorited this restaurant
<% else %>
<%= link_to 'Favorite This Restaurant', pick_path %>
<% end %>

<%= link_to 'Back', restaurants_path %>





