<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Votes for splitting:</strong>
  <%= @restaurant.votes_for_splitting %>
</p>

<p>
  <strong>Votes against splitting:</strong>
  <%= @restaurant.votes_against_splitting %>
</p>

<p>
  <strong>Splitting average:</strong>
  <%= @restaurant.splitting_average %>
</p>

<%= link_to 'Does Split', upvote_path(@restaurant)%> |
<%= link_to 'Does Not Split', downvote_path(@restaurant) %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
