<p id="notice"><%= notice %></p>

<p style: "text-align: center">
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Splitting average:</strong>
  
</p>

<div class="splitting">
<p class="forsplitting">
  <strong>Votes for splitting:</strong>
 <br><br>
  <strong>Agree? <br><br><%= link_to 'Vote for Splitting', upvote_path(@restaurant)%> </strong>   
</p>
<p class="againstsplitting">      
  <strong>Votes against splitting:</strong>
 
  <strong>Agree?<br><br><%= link_to 'Vote against Splitting', downvote_path(@restaurant)%> </strong>
</p>
</div>

<br><br><br>

<%= link_to 'Back', restaurants_path %>





